*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #d9d0c2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.page{
    width: 85%;
    max-width: 1000px;
    border: 3px solid #a99d8f;
    border-radius: 20px;
    padding: 30px;
    background-color: #d9d0c2;
    position: relative;
}

.title{
    width: fit-content;
    margin: 0 auto 30px;
    padding: 15px 80px;
    background: #ece4d8;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    font-size: 3rem;
    color: #4b3b35;
}

.review-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question-card{
    background: #f7f4f0;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.question-no{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.question-card h3{
    margin-bottom: 15px;
    font-size: 28px;
    color: #222;
}

.answer{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 18px;
}

.correct{
    background-color: #7fb16a;
    color: #1e1e1e;
}

.status{
    background-color: rgba(255,255,255,0.35);
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.home-btn{
    position: absolute;
    bottom: -40px;
    right: -40px;
    border: none;
    background: #efe4db;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.home-btn:hover{
    transform: scale(1.05);
}